/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Faqiu Sun
*/
.link{
    background:#e70;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin:0.5rem;
    text-decoration: none;
    color: #eee;
}
.link:hover{
    color:#fff;
    background:#f80;
}
.title{
    padding:1rem;
    background: #48a;
}

.button{
    background:#497;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right:1rem;
    margin-top:1rem;
    color: #ddd;
}
.button:hover{
    color:#fff;
    background:#4a7;
}

.form{
    margin:1rem;
    margin-bottom: 3rem;
}
.table{
    background: #eee;
    padding:1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.data-table{
    min-width: 500px;
    padding: 1rem 0;
    border:none;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin:1rem 1rem 3rem 0rem;
    border-collapse: collapse;
}

.data-table thead {
    background-color: #04AA6D;
    color: white;
}
.data-table th, td {
    border:0px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.data-table.found th,td{
    border: 1px solid #ddd;
    padding:0 3px;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.data-table tbody  tr:hover {
    background-color: coral;
}
.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.subtitle{
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}